

body {
  padding-top: 75px;
}


/* Navigation bar customization */

.navbar-ol {
  background-color: #FFF;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-ol .navbar-brand {
  color: #777;
  font-size: 30px;
  font-weight: 600;
  padding-right: 30px;
}

.navbar-ol .navbar-brand:hover,
.navbar-ol .navbar-brand:focus {
  color: #333;
  background-color: transparent;
}

.navbar-ol .navbar-text {
  color: #777;
}

.navbar-ol .navbar-nav > li > a {
  color: #777;
  font-size: 18px;
  font-weight: 200;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-ol .navbar-nav > li > a:hover,
.navbar-ol .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}

.navbar-ol .navbar-nav > .active > a,
.navbar-ol .navbar-nav > .active > a:hover,
.navbar-ol .navbar-nav > .active > a:focus {
  color: #333;
  font-weight: 400;
}

.navbar-ol .navbar-nav > .disabled > a,
.navbar-ol .navbar-nav > .disabled > a:hover,
.navbar-ol .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}

.navbar-ol .navbar-toggle {
  border-color: #ddd;
}

.navbar-ol .navbar-toggle:hover,
.navbar-ol .navbar-toggle:focus {
  background-color: #ddd;
}

.navbar-ol .navbar-toggle .icon-bar {
  background-color: #888;
}

.navbar-ol .navbar-collapse,
.navbar-ol .navbar-form {
  border-color: #e7e7e7;
}


.navbar-ol .navbar-nav > .open > a,
.navbar-ol .navbar-nav > .open > a:hover,
.navbar-ol .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

@media (max-width: 767px) {
  .navbar-ol .navbar-nav .open .dropdown-menu > li > a {
    color: #777;
  }
  .navbar-ol .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-ol .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333;
    background-color: transparent;
  }
  .navbar-ol .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-ol .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-ol .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
  .navbar-ol .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-ol .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-ol .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}

.navbar-ol .navbar-link {
  color: #777;
}

.navbar-ol .navbar-link:hover {
  color: #333;
}

.navbar-ol .social-links {
	padding: 15px 0 0 30px;
}

.navbar-ol .social-links a{
	width: 40px;
	height: 24px;
}

.navbar-ol .social-links .social:before {
	color: #777;
}

.navbar-ol .social-links a:hover.social:before {
	color: #333;
}



/* Banner */

.banner {
	padding-top: 420px;
}

.banner-overview {
	background:#222222 url("../img/overview-banner.png") no-repeat top center;
}

/* Subnavigation */

.sub-nav {
	background: rgba(255,50,0,0.69);
	min-height: 70px;
}

.sub-nav .navbar-nav {
	padding: 15px 20px 15px 20px;
}

.sub-nav .navbar-nav > li > a {
  color: #FFF;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 25px 10px 25px;
}


/* Footer */

.footer-ol {
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	font-size: 12px;
	color: #888;
	border-top: solid 1px #DDD;
	margin-top: 40px;
}

