body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

/* Navigation bar customization */

.navbar-objectlab{
	color: #DDD;
	background-color: #FFF;
}

.navbar-objectlab a{
	color: #888;
	font-size: 18px;
	font-weight: 200;
}

.navbar-objectlab .active a{
	font-weight: 400;
}

.navbar-objectlab .navbar-brand{
	font-size: 28px;
	font-weight: 600;
	color: #666;
	margin-right: 40px;
}

.navbar-objectlab .nav > li > a:hover,
.navbar-objectlab .nav > li > a:focus {
  color: #666;
}


/* Banner */

.banner {
	height: 490px;
}

.banner-overview {
	background:#ffffff url("../img/overview-banner.png") no-repeat center center;
}
	